<div class="answer row">

		<div class="col-sm-3 col-md-3 col-lg-2 correct-answer-checkbox">
			{% if draw_tick %}<span class="glyphicon glyphicon-ok correct-answer-checkbox-inner-thing-unchecked"></span>{% endif %}
		</div>

		
		<div class="col-sm-3 col-md-3 col-lg-2 pull-center">

			<img class="avatar-holder-100" src="{{answer.author.userpic_path}}">
			<br><a href="{{answer.author.id}}">{{answer.author.name}}</a><br>
			<div class="btn-group">
				<a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-up vote-up"></span></a><span class="btn btn-default btn-xs">-1</span><a href="#" class="btn btn-default btn-xs voted-down"><span class="glyphicon glyphicon-arrow-down vote-down"></span></a>
			</div>
				
		</div>
	  
		<div class="col-sm-6 col-md-6 col-lg-8">

				{{answer.text}}
				
		</div>
		
	</div>