<div class="row">
	<p class="h1 col-sm-offset-3 col-lg-offset-2">New Question<p>
	<hr>
</div>

<form class="form-horizontal row">
	<div class="form-group">
		<label for="inputTitle" class="col-sm-3 col-lg-2 control-label">Title</label>
		<input type="text" class="col-sm-6" id="inputTitle" placeholder="Title">
		{% if title_string %}
			{{title_string}}</input>
		{% endif %}
	</div>
	<div class="form-group">
		<label for="inputText" class="col-sm-3 col-lg-2 control-label">Text</label>
		<textarea type="text" rows="9" class="col-sm-6" id="inputText" placeholder="Place your text here if you didn't find answer in Google.">
		{% if question_string %}
			{{question_string}}
		{% endif %}
		</textarea>
	</div>
	<div class="form-group">
		<label for="inputTags" class="col-sm-3 col-lg-2 control-label">Tags</label>
		<input type="text" class="col-sm-6" id="inputTags" placeholder="Three or less">
		{% if tags_string %}
			{{tags_string}}</input>
		{% endif %}
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-lg-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success">Ask!</button>
		</div>
	</div>
</form>