<div class="row">
	<p class="h1 col-sm-offset-3 col-lg-offset-2">New Question<p>
	<hr>
</div>

{% if errors %}
<div class="row">
	<ul>
	{% for error in errors %}
		{{error}}
	{% endfor %}
	</ul>
</div>
{% endif %}

<form class="form-horizontal row" action="{% url 'ask' %}" method="post">
	{% csrf_token %}
	{% for field in form.visible_fields %}
	<div class="form-group">
		<label for="inputLogin" class="col-sm-3 col-lg-2 control-label">{{field.label}}</label>
		{{ field }}
	</div>
	{% endfor %}	
	<div class="form-group">
		<div class="col-sm-offset-3 col-lg-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success">Ask!</button>
		</div>
	</div>
</form>