<div class="row">
	<p class="h1 col-sm-offset-3 col-lg-offset-2">New Question<p>
	<hr>
</div>

<form class="form-horizontal row" action="{% url 'ask' %}" method="post">
	{% csrf_token %}
	{% for field in form.visible_fields %}
	<div class="form-group">
		<label for="inputLogin" class="col-sm-3 col-lg-2 control-label">{{field.label}}</label>
		{{ field }}
		{% if field.errors %}
			<div class="alert alert-danger col-sm-3">
				
				{% for error in field.errors %}
					{{error}}
				{% endfor %}
				
			</div>
		{% endif %}
	</div>
	{% endfor %}	
	<div class="form-group">
		<div class="col-sm-offset-3 col-lg-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success">Ask!</button>
		</div>
	</div>
</form>