<div class="row">
	<p class="h1 col-lg-offset-2 col-sm-offset-3">Log in<p>
	<hr>
</div>

{% if errors %}
<div class="row">
	<ul>
	{% for error in errors %}
		{{error}}
	{% endfor %}
	</ul>
</div>
{% endif %}


<form class="form-horizontal row" action="{% url 'login' %}" method="post">
	{% csrf_token %}
	<input type="hidden" value="{{ previous_page }}" name="previous_page">
	{% for field in form.visible_fields %}
	<div class="form-group">
		<label for="inputLogin" class="col-sm-3 col-lg-2 control-label">{{field.label}}</label>
		{{ field }}
	</div>
	{% endfor %}
	<div class="form-group">
		<div class="row row-no-margin">
			<div class="col-sm-offset-3 col-lg-offset-2 col-sm-6">
				<button type="submit" class="btn btn-success">Log in</button>
				or
				<a href="{% url 'register' %}" class="btn btn-info">Register</a>
			</div>
		</div>
	</div>
</form>