<nav class="col-sm-12 col-lg-8 col-lg-offset-2 navbar navbar-default">
	<div class="navbar-header col-lg-2 col-md-3">
		<a class="navbar-brand" href="/">AskMaminov</a>
	</div>

	<div class="col-lg-6 col-md-4 col-sm-4 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<form class="navbar-form navbar-left" role="search" action="{% url 'search' %}">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
				{% if search_string %}
					{{search_string}}</input>
				{% endif %}
			</div>
			<button type="submit" class="btn btn-success">Find!</button>
		</form>
		<p class="nav navbar-text my-navbar-text">or</p>
		{% if user %}
		<form class="navbar-form navbar-left" role="link" action="{% url 'ask' %}">
			<button type="submit" class="btn btn-info">Ask?</button>
		</form>
		{% endif %}
	</div><!-- /.navbar-collapse -->
	
	<div class="navbar-header col-lg-3 col-md-4 col-sm4 nav navbar-nav navbar-right">
	{% if user %}
	<div class="row">
		<div class="col-sm-3 col-md-2 col-lg-3">
			<img class="avatar-holder-50" src="{{user.userpic_path}}">
		</div>
		<div class="col-sm-6 col-md-5 col-lg-6">
			<p class="h3 username-h3">{{user.name}}</p>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<a href="{% url 'settings' %}" class="h5">Settings</a>
				</div>
				<div class="col-md-6 col-sm-6">
					<a href="{% url 'logout' %}" class="h5 nowrap">Log out</a>
				</div>
			</div>
		</div>  
	</div>
	{% else %}
	<form class="navbar-form navbar-left my-navbar-text" role="register" action="{% url 'register' %}">
		<button type="submit" class="btn btn-success">Register!</button>
	</form>
		<p class="nav navbar-text my-navbar-text">or</p>
	<form class="navbar-form navbar-left my-navbar-text" role="link" action="{% url 'login' %}">
		<button type="submit" class="btn btn-info">Log in</button>
	</form>
	{% endif %}
	</div>
	
</nav>