<div class="row answer" id="question_{{question.id}}">
		
	<div class="row">
		<a href="{% url 'question' question.id %}" class="col-sm-offset-3 col-md-offset-3 col-lg-offset-2 h3">{{question.title}}</a>
	</div>
	
	<div class="row">
	
		<div class="col-sm-3 col-md-3 col-lg-2 pull-center">
			<img class="avatar-holder-100" src="{{question.author.userpic_path}}">
			<br><a href="{{question.author.id}}">{{question.author.name}}</a><br>
			<div class="btn-group nowrap">
				<a href="{{question.author.id}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-up vote-up"></span></a><span class="btn btn-default btn-xs">{{question.rating}}</span><a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-down vote-down"></span></a>
			</div>
		</div>
	  
		<div class="col-sm-9 col-md-9 col-lg-10">
		{{question.text}}	
		</div>
		
	</div>
	
	<div class="row small-text-under-question">
		<div class="col-sm-1 col-md-1 col-sm-offset-2 col-md-offset-2">{{question.created|date:'d.m.Y'}}</div>
		<div class="col-sm-1 col-md-3 col-sm-offset-2 col-md-offset-2"><a href="{% url 'question' question.id %}">Answers({{question.comments_amount}})</a></div>
		{% if question.tags %}
		<div class="col-sm-4 col-md-4">Tags: 
		{% for tag in question.tags %}
			<a href="{% url 'tag' tag.name %}">{{tag.name}}</a><span>  </span>
		{% endfor %}
		</div>
		{% endif %}
	</div>
		
</div>