<div class="row row-no-margin">
	<p class="h1 col-sm-offset-3">Register<p>
</div>

<hr>

<form class="form-horizontal" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="hidden" value="{{ previous_page }}" name="previous_page">
	{% for field in form.visible_fields %}
		<div class="form-group">
			<label for="{{ field.name }}" class="col-sm-3 control-label">{{ field.label }}</label>
			{{ field }}
		</div>
	{% endfor %}
	<div class="form-group row row-no-margin">
		<div class="col-sm-offset-3 col-sm-6">
			<button type="submit" class="btn btn-success">Register</button>
			or <a href="{% url 'login' %}" class="btn btn-info">Log in</a>
		</div>
	</div>
</form>