<div class="row">
	<p class="h1 col-sm-offset-3 col-lg-offset-2">Options<p>
	<hr>
</div>
   
<form class="form-horizontal">
	<div class="form-group">
		<label for="inputNewPass" class="col-sm-3 col-lg-2 control-label">New Password</label>
		<input type="password" class="form-control col-sm-6" id="inputNewPass" placeholder="New Password">
	</div>
	<div class="form-group">
		<label for="inputAvatar" class="col-sm-3 col-lg-2 control-label">Avatar</label>
		<div class="row row-no-margin">
			<div class="col-sm-6">
				<img class="avatar-holder-100" src="http://lorempixel.com/100/100">
			</div>
		</div>
		<div class="row row-no-margin">
			<input type="file" class="form-control file-upload col-sm-6 col-sm-offset-3 col-lg-offset-2" id="inputAvatar" placeholder="C:\avatar.png">
			{% if userpic_path_string %}
			{{userpic_path_string}}</input>
		{% endif %}
		</div>
	</div>

	<div class="form-group">
		<div class="row row-no-margin">
			<hr class="hr-invisible">
			<hr class="hr-invisible">
			<label class="col-sm-6 col-sm-offset-3 col-lg-offset-2">For security reasons, please, enter your password</label>
			<hr class="hr-invisible">
			<input type="password" class="form-control col-sm-6 col-sm-offset-3 col-lg-offset-2" id="inputPass" placeholder="Password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-lg-offset-2 col-sm-6">
			<button type="submit" class="btn btn-success">Apply Changes</button>
		</div>
	</div>
</form>