	<div class="btn-group col-sm-8 col-sm-offset-2">
	{% if paginator.has_previous %}
		<a href="{% url 'questions' paginator.previous_number %}" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a href="{% url 'questions' paginator.previous_number %}" class="btn btn-default btn-xs col-sm-1">{{paginator.previous_number}}</a>
	{% endif %}
		<span class="btn btn-default btn-xs btn-primary col-sm-1">{{paginator.current_page}}</span>
	{% if paginator.has_next %}
		<a href="{% url 'questions' paginator.next_number %}" class="btn btn-default btn-xs col-sm-1">{{paginator.next_number}}</a>
		<a href="{% url 'questions' paginator.next_number %}" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-chevron-right"></span></a>
	{% endif %}
	</div>