	<div class="btn-group col-sm-8 col-sm-offset-2">
		<a href="#" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-fast-backward"></span></a>
		<a href="#" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-chevron-left"></span></a>
		
		<span class="btn btn-default btn-xs col-sm-1">...</span>
		<a href="#" class="btn btn-default btn-xs col-sm-1">8</a>
		<a href="#" class="btn btn-default btn-xs col-sm-1">9</a>
		<span class="btn btn-default btn-xs btn-primary col-sm-1">10</span>
		<a href="#" class="btn btn-default btn-xs col-sm-1">11</a>
		<a href="#" class="btn btn-default btn-xs col-sm-1">12</a>
		<span class="btn btn-default btn-xs col-sm-1">...</span>
		
		<a href="#" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-chevron-right"></span></a>
		<a href="#" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-fast-forward"></span></a>
	</div>