<button type="button" class="btn btn-default btn-sm dropdown-toggle col-md-12" data-toggle="dropdown">
		<span class="glyphicon glyphicon-align-left pull-left"></span>
		Sorting
		<span class="glyphicon glyphicon-chevron-down pull-right"></span>
	</button>
	<ul class="dropdown-menu col-md-12">
		<li><a href="#">By Date: Newer First</a></li>
		<li><a href="#">By Date: Older First</a></li>
		<li><a href="#">By Rating: Better First</a></li>
		<li><a href="#">By Rating: Worse First</a></li>
	</ul>
	</div>

	<hr class="row col-sm-12">
	
	<!-- numerous questions here -->
  
	<hr class="row col-sm-12">
	<div class="btn-group col-sm-8 col-sm-offset-2">
		<a href="#" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-fast-backward"></span></a>
		<a href="#" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-chevron-left"></span></a>
		
		<span class="btn btn-default btn-xs col-sm-1">...</span>
		<a href="#" class="btn btn-default btn-xs col-sm-1">8</a>
		<a href="#" class="btn btn-default btn-xs col-sm-1">9</a>
		<span class="btn btn-default btn-xs btn-primary col-sm-1">10</span>
		<a href="#" class="btn btn-default btn-xs col-sm-1">11</a>
		<a href="#" class="btn btn-default btn-xs col-sm-1">12</a>
		<span class="btn btn-default btn-xs col-sm-1">...</span>
		
		<a href="#" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-chevron-right"></span></a>
		<a href="#" class="btn btn-default btn-xs col-sm-1"><span class="glyphicon glyphicon-fast-forward"></span></a>
	</div>